<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676243801867-b5qru792l2flsoqqi8jeatvkukqvko3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676243801867-b5qru792l2flsoqqi8jeatvkukqvko3l</string>
	<key>API_KEY</key>
	<string>AIzaSyDU2Ookh4ptX9fJMDTKqmFPiU7g_NBR30w</string>
	<key>GCM_SENDER_ID</key>
	<string>676243801867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNTest</string>
	<key>PROJECT_ID</key>
	<string>maptest3-b3603</string>
	<key>STORAGE_BUCKET</key>
	<string>maptest3-b3603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676243801867:ios:b0d896e20c909b3304c40e</string>
	<key>DATABASE_URL</key>
	<string>https://maptest3-b3603.firebaseio.com</string>
</dict>
</plist>